[Desktop Entry]
Name=Gwenview
Name[ca]=Gwenview
Name[ca@valencia]=Gwenview
Name[en_GB]=Gwenview
Name[es]=Gwenview
Name[fr]=Gwenview
Name[it]=Gwenview
Name[nl]=Gwenview
Name[pt]=Gwenview
Name[sk]=Gwenview
Name[sl]=Gwenview
Name[sv]=Gwenview
Name[tr]=Gwenview
Name[uk]=Gwenview
Name[x-test]=xxGwenviewxx
Name[zh_CN]=Gwenview
GenericName=KDE Image Viewer
GenericName[ca]=Visor d'imatges del KDE
GenericName[ca@valencia]=Visor d'imatges de KDE
GenericName[en_GB]=KDE Image Viewer
GenericName[es]=Visor de imágenes de KDE
GenericName[fr]=Afficheur d'images de KDE
GenericName[it]=Visore di immagini di KDE
GenericName[nl]=KDE afbeeldingenviewer
GenericName[pt]=Visualizador de Imagens do KDE
GenericName[sk]=Prehliadač obrázkov KDE
GenericName[sl]=KDE ogledovalnik slik
GenericName[sv]=Bildvisare för KDE
GenericName[tr]=KDE Görsel Görüntüleyici
GenericName[uk]=Переглядач зображень KDE
GenericName[x-test]=xxKDE Image Viewerxx
GenericName[zh_CN]=KDE 图像查看器
Comment=A simple image viewer
Comment[ca]=Un visor d'imatges senzill
Comment[ca@valencia]=Un visor d'imatges senzill
Comment[en_GB]=A simple image viewer
Comment[es]=Un sencillo visor de imágenes
Comment[fr]=Un afficheur simple d'images
Comment[it]=Un semplice visore di immagini
Comment[nl]=Een eenvoudige afbeeldingenviewer
Comment[pt]=Um visualizador de imagens simples
Comment[sk]=Jednoduchý prehliadač obrázkov
Comment[sl]=Enostaven ogledovalnik slik
Comment[sv]=En enkel bildvisare
Comment[tr]=Yalın bir görsel görüntüleyici
Comment[uk]=Простий переглядач зображень
Comment[x-test]=xxA simple image viewerxx
Comment[zh_CN]=简易图像查看器
Exec=gwenview %U
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;Viewer;Photography;
MimeType=inode/directory;image/avif;image/gif;image/heif;image/jpeg;image/jxl;image/png;image/bmp;image/x-eps;image/x-icns;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/x-tga;application/x-krita;image/x-kde-raw;image/x-canon-cr2;image/x-canon-crw;image/x-kodak-dcr;image/x-adobe-dng;image/x-kodak-k25;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-fuji-raf;image/x-panasonic-rw;image/x-sony-sr2;image/x-sony-srf;image/x-sigma-x3f;image/x-sony-arw;image/x-panasonic-rw2;
X-DocPath=gwenview/index.html
# InitialPreference should be greater than Okular so that Gwenview is the
# primary application associated with images, but less than Konqueror or Dolphin
# so that Gwenview is not the primary applications for folders.
InitialPreference=8
X-DBUS-ServiceName=org.kde.gwenview
