[Desktop Entry]
Name=Gwenview
Name[ar]=جونفيو
Name[ast]=Gwenview
Name[ca]=Gwenview
Name[ca@valencia]=Gwenview
Name[cs]=Gwenview
Name[de]=Gwenview
Name[en_GB]=Gwenview
Name[eo]=Gwenview
Name[es]=Gwenview
Name[eu]=Gwenview
Name[fi]=Gwenview
Name[fr]=Gwenview
Name[gl]=Gwenview
Name[is]=Gwenview
Name[it]=Gwenview
Name[ka]=Gwenview
Name[ko]=Gwenview
Name[nl]=Gwenview
Name[nn]=Gwenview
Name[pl]=Gwenview
Name[pt]=Gwenview
Name[pt_BR]=Gwenview
Name[ro]=Gwenview
Name[ru]=Gwenview
Name[sk]=Gwenview
Name[sl]=Gwenview
Name[sv]=Gwenview
Name[tr]=Akbakış
Name[uk]=Gwenview
Name[x-test]=xxGwenviewxx
Name[zh_CN]=Gwenview
Name[zh_TW]=Gwenview
GenericName=KDE Image Viewer
GenericName[ar]=عارض صور كِيدِي
GenericName[ast]=Un visualizador d'imáxenes de KDE
GenericName[ca]=Visualitzador d'imatges del KDE
GenericName[ca@valencia]=Visor d'imatges de KDE
GenericName[cs]=Prohlížeč obrázků KDE
GenericName[de]=KDE-Bildbetrachter
GenericName[en_GB]=KDE Image Viewer
GenericName[eo]=Bildrigardilo de KDE
GenericName[es]=Visor de imágenes de KDE
GenericName[eu]=KDEren irudi erakuslea
GenericName[fi]=KDE:n kuvankatselin
GenericName[fr]=Afficheur d'images de KDE
GenericName[gl]=Visor de imaxes de KDE
GenericName[is]=Myndskoðari fyrir KDE
GenericName[it]=Visore di immagini di KDE
GenericName[ka]=KDE-ის გამოსახულებების ნახვის პროგრამა
GenericName[ko]=KDE 그림 뷰어
GenericName[nl]=KDE afbeeldingsviewer
GenericName[nn]=Biletvisar frå KDE
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de Imagens do KDE
GenericName[pt_BR]=Visualizador de imagens do KDE
GenericName[ro]=Vizualizor de imagini pentru KDE
GenericName[ru]=Приложение для просмотра изображений
GenericName[sk]=Prehliadač obrázkov KDE
GenericName[sl]=KDE ogledovalnik slik
GenericName[sv]=Bildvisare för KDE
GenericName[tr]=KDE Görsel Görüntüleyicisi
GenericName[uk]=Переглядач зображень KDE
GenericName[x-test]=xxKDE Image Viewerxx
GenericName[zh_CN]=KDE 图像查看器
GenericName[zh_TW]=KDE 影像檢視器
Comment=A simple image viewer
Comment[ar]=عارض صور بسيط
Comment[ast]=Un visualizador d'imáxenes simple
Comment[ca]=Un visualitzador d'imatges senzill
Comment[ca@valencia]=Un visor d'imatges senzill
Comment[cs]=Jednoduchý prohlížeč obrázků
Comment[de]=Ein einfacher Bildbetrachter
Comment[en_GB]=A simple image viewer
Comment[eo]=Simpla bildrigardilo
Comment[es]=Un sencillo visor de imágenes
Comment[eu]=Irudi erakusle erraz bat
Comment[fi]=Yksinkertainen kuvankatselin
Comment[fr]=Un afficheur simple d'images
Comment[gl]=Un visor de imaxes sinxelo.
Comment[is]=Einfaldur myndskoðari
Comment[it]=Un semplice visore di immagini
Comment[ka]=იხილეთ გამოსახულებები მარტივად
Comment[ko]=간단한 그림 뷰어
Comment[nl]=Een eenvoudige afbeeldingsviewer
Comment[nn]=Ein enkel biletvisar
Comment[pl]=Prosta przeglądarka obrazów
Comment[pt]=Um visualizador de imagens simples
Comment[pt_BR]=Um visualizador de imagens simples
Comment[ro]=Un vizualizator de imagini simplu
Comment[ru]=Просмотр изображений
Comment[sk]=Jednoduchý prehliadač obrázkov
Comment[sl]=Enostaven ogledovalnik slik
Comment[sv]=En enkel bildvisare
Comment[tr]=Yalın bir görsel görüntüleyicisi
Comment[uk]=Простий переглядач зображень
Comment[x-test]=xxA simple image viewerxx
Comment[zh_CN]=简易图像查看器
Comment[zh_TW]=一個簡單的影像檢視器
Exec=gwenview %U
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;Viewer;Photography;
MimeType=inode/directory;image/avif;image/gif;image/heif;image/jpeg;image/jxl;image/png;image/bmp;image/x-eps;image/x-icns;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/x-tga;application/x-krita;image/x-kde-raw;image/x-canon-cr2;image/x-canon-crw;image/x-kodak-dcr;image/x-adobe-dng;image/x-kodak-k25;image/x-kodak-kdc;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-fuji-raf;image/x-panasonic-rw;image/x-sony-sr2;image/x-sony-srf;image/x-sigma-x3f;image/x-sony-arw;image/x-panasonic-rw2;
X-DocPath=gwenview/index.html
# InitialPreference should be greater than Okular so that Gwenview is the
# primary application associated with images, but less than Konqueror or Dolphin
# so that Gwenview is not the primary applications for folders.
InitialPreference=8
X-DBUS-ServiceName=org.kde.gwenview
